<!DOCTYPE html>
<html>
<head>
    <title>Все видео</title>
</head>
<body>
    <h1>Видео:</h1>
    <ul>
        {% for video in videos %}
            <li>
                <video width="320" height="240" controls>
                    <source src="{{ video.file.url }}" type="video/mp4">
                    Ваш браузер не поддерживает видео.
                </video>
                <p>{{ video.title }}</p>
            </li>
        {% empty %}
            <li>Видео пока нет.</li>
        {% endfor %}
    </ul>

    <p><a href="{% url 'home' %}">На главную</a></p>
</body>
</html>
